*{
  font-family: "Mukta";
}
body{
  background: rgb(223,165,112);
  background: -moz-linear-gradient(338deg, rgba(223,165,112,1) 0%, rgba(199,144,129,1) 100%);
  background: -webkit-linear-gradient(338deg, rgba(223,165,112,1) 0%, rgba(199,144,129,1) 100%);
  background: linear-gradient(338deg, rgba(223,165,112,1) 0%, rgba(199,144,129,1) 100%);
}