body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: rgb(223, 165, 112);
    background: linear-gradient(338deg, rgba(223, 165, 112, 1) 0%, rgba(199, 144, 129, 1) 100%);
}

.card-container {
    display: flex;
    flex-direction: row;
    background: rgb(234, 234, 234);
    background: -moz-linear-gradient(0deg, rgba(234, 234, 234, 0.13441873331363796) 0%, rgba(234, 234, 234, 1) 53%);
    background: -webkit-linear-gradient(0deg, rgba(234, 234, 234, 0.13441873331363796) 0%, rgb(234, 234, 234) 53%);
    background: linear-gradient(0deg, rgba(234, 234, 234, 0.13441873331363796) 0%, rgba(234, 234, 234, 1) 53%);
    height: 70vh;
    width: 70vw;
    border-radius: 25px;
    box-shadow: 16px 18px 47px -30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 16px 18px 47px -30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 16px 18px 47px -30px rgba(0, 0, 0, 0.3);
}

.profile-container {
    padding: 20px 50px;
    width: 60%;
}

.profile-container .Name {
    margin: 1px;
    font-size: 50px;
}

.profile-container .occupation {
    margin-top: 0px;
    color: #F25F34;
}

.profile-container .button-container button {
    background-color: #F25F34;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    width: 128px;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.profile-container .button-container button:hover{
    background-color: #f57c57;
}

.picture-container {
    background-color: white;
    display: flex;
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 16px 18px 46px -22px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 16px 18px 46px -22px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 16px 18px 46px -22px rgba(0, 0, 0, 0.65);
}

.picture-container img {
    width: 100%;
    border-radius: 100%;
}

.link-container{
    margin-top: 10vh;
    margin-left: -1vw;
}
.wrapper {
    display: inline-flex;
}

.wrapper .icon {
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon a {
    display: block;
    color: black;
    height: 60px;
    width: 60px;
    background: #eaeaea;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon a i {
    line-height: 60px;
    font-size: 30px;
}

.wrapper .icon .tooltip {
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}

.icon .tooltip::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.wrapper .icon:hover a {
    color: #fff;
}

.wrapper .icon:hover a,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.wrapper .instagram:hover a,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #F25F34;
}

.wrapper .linkedin:hover a,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
    background: #F25F34;
}

.wrapper .github:hover a,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: #F25F34;
}

.wrapper .twitter:hover a,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #F25F34;
}
.image-container{
    background-image: url("./pictureee.jpg");
    width: 100%;
    background-position: center center;
    background-size: cover;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.email{
    color: white;
    text-decoration: none;
}

@media screen and (max-width:600px) {
    .card-container{
        height: 81vh;
        width: 89vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .image-container{
        display: none;
    }
    .profile-container{
        width: 100%;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}